{% block form_row %}
	<div class="form-group row">
		<div class="col-2">
	    	{{ form_label(form) }}
    	</div>
	    <div class="col-10">
	        {{ form_errors(form) }}
	        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
	    </div>
   	</div><!-- form-group row -->
{% endblock form_row %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="btn btn-primary">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    <div class="col-12 text-center">
    	{{ block('button_widget') }}
	</div>
{%- endblock submit_widget -%}