{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg3.jpg')}}"{% endblock %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "timeline"|trans} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}timeline{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
	<div class="separator separator-primary"></div>
	<br>
    {% for key,data in combinedTimeline %}
		{% set day = key|date('l d M Y') %}
		{% if data is null %}
			<div class="text-center">
				<p>
					<b>{{ day }}</b>
				</p>
			</div>
		{% else %}
			{% include '_list_top.html.twig' with {'cols': [
				{'n': "day"},
				{'n': "timeline"},
				{'n': "activities"},
				{'n': "actions"},
				{'n': "files"}
			]} %}
			<tr>
				<td>
					<b>{{ day }}</b>
				</td>
				<td></td>
				<td>
					{% if data.activities is defined %}
						{% for activity in data.activities %}
							<li>
								<a href="{{ path('activity', {'id': activity.id}) }}" title="{{ activity.name }}">
									{{ activity.name }} ({{ activity.start|date('d/m/Y') }} - {{ activity.end|date('d/m/Y') }})
								</a>
							</li>
						{% endfor %}
					{% endif %}
				</td>
				<td></td>
				<td></td>
			</tr>
			{% include '_list_bottom.html.twig' %}
		{% endif %}
		<div class="separator separator-primary"></div>
		<br>
    {% endfor %}
{% endblock %}

