{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg6.jpg')}}"{% endblock %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "datas"|trans, 'links': [{'l': "add_data"}, {'l': "add_link"}, {'l': "add_type"}]} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}datas{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': "data_intro"|trans} %}
	{% include '_list_top.html.twig' with {'cols': [{'n': "#"}, {'n': "Name"}, {'n': "Type"}, {'n': "Description"}, {'n': "Action"}]} %}
	{% for data in datas %}
  		<tr>
	      <td><i class="fa fa-{{ data.type.fontAwesome }}" aria-hidden="true"></i></td>
	      <td><a href="{{ path('data', {'id': data.id}) }}" title="{{ data.name }}">{{ data.name }}</a></td>
	      <td>{{ data.type.slug|trans }}</td>
	      <td>{{ data.description }}</td>
	      <td><a href="{{ path('edit_data', {'id': data.id}) }}" title="{% trans %}edit{% endtrans %} {{ data.name }}">{% trans %}edit{% endtrans %}</a></td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}

