{% extends 'base.html.twig' %}

{% block body_class %}class="profile-page"{% endblock %}
{% block bg %}style="background-image: url('{{ asset('images/bg6.jpg')}}"{% endblock %}
{% block filter_color %}filter-color="orange"{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('datas') }}">{% trans %}datas{% endtrans %}</a></li>
	<li class="breadcrumb-item active">{{ data.name }}</li>
{% endblock %}

{% block content_center %}
	<i class="fa fa-{{ data.type.fontAwesome }} fa-5x" aria-hidden="true"></i>
	<h1>{{ data.name }}</h1>
	<a href="{{ path('edit_data', {'id': data.id}) }}" class="btn btn-primary">{% trans %}edit{% endtrans %}</a>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-md-8">
	    	<h2 class="title">{{ "data_fa"|trans }}</h2>
	    	<ul class="list-group block">
	    		<li class="list-group-item">
	    			<h5>{{ data.description ?: "blank"|trans }}</h5>
				</li>
	    		<li class="list-group-item">
	    			{{ "type"|trans ~ "colon"|trans ~ data.type.slug|trans }}
				</li>
	    		<li class="list-group-item">
	    			{% set login = data.login ? data.login.name : "blank" %}
	    			{{ "login"|trans ~ "colon"|trans ~ login|trans }}
				</li>
	    		<li class="list-group-item">
	    			{% set password = data.password ? data.password.hint : "blank" %}
	    			{{ "password"|trans ~ "colon"|trans ~ password|trans }}
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h2 class="title">{{ "links"|trans }}</h2>
			<div class="card">
  				<img class="card-img-top" src="{{ asset('images/links.png') }}" alt="{{ "links"|trans }}">
					<ul class="list-group">
	    				{% for link in data.links %}
					  		<li class="list-group-item">
					  			<a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
					  		</li>
					{% endfor %}
					</ul>
			</div>
		</div>
	</div>
{% endblock %}

