{% extends 'base.html.twig' %}

{% set action = data is defined ? "edit"|trans ~ ' ' ~ "data"|trans ~ ' ' ~ data.id : "add_data"|trans %}

{% block bg %}style="background-image: url('{{ asset('images/bg6.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ action }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('datas') }}">{% trans %}datas{% endtrans %}</a>
	<span class="breadcrumb-item active">{{ action }}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

