{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg6.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{% trans %}add_link{% endtrans %}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('datas') }}">{% trans %}datas{% endtrans %}</a>
	<span class="breadcrumb-item active">{% trans %}add_link{% endtrans %}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

