{% extends 'base.html.twig' %}

{% set action = file is defined ? "edit"|trans ~ ' ' ~ "file"|trans ~ ' ' ~ file.id : "add_file"|trans %}

{% block bg %}style="background-image: url('{{ asset('images/bg7.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ action }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('files') }}">{% trans %}files{% endtrans %}</a>
	<span class="breadcrumb-item active">{{ action }}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

