{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg7.jpg')}}"{% endblock %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "files"|trans, 'links': [
		{'l': "add_file"},
	]} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}files{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': "file_intro"|trans} %}
	{% include '_list_top.html.twig' with {'cols': [
		{'n': "Type"},
		{'n': "Picture"},
		{'n': "Filename"},
		{'n': "Created"},
		{'n': "Updated"},
		{'n': "Action"}
	]} %}
	{% for file in files %}
  		<tr>
	      	{% set current_file = 'uploads/' ~ (file.path ? file.path ~ '/' : '') ~ file.filename %}
	      	{% set preview = (file.type.id == 11) ? current_file ~ '.png' : current_file %}
	      	<td>
	      		<i class="fa fa-{{ file.type.fontAwesome }}" aria-hidden="true" title="{{ file.type.slug|trans }}"></i>
      		</td>
	      	<td>
		      	<a href="{{ asset(current_file) }}" title="{{ file.filename }}" target="_blank">
		      		<img src="{{ asset(preview) }}" class="img-table">
	      		</a>
			</td>
			<td>{{ file.filename }}</td>
			<td>{{ file.createdAt|date('d/m/Y H:i') }}</td>
			<td>{{ file.updatedAt ? file.updatedAt|date('d/m/Y H:i') : 'n/a' }}</td>
			<td><a href="{{ path('delete_file', {'id': file.id}) }}" title="{{ file.filename }}">Delete</a></td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}

