{% extends 'base.html.twig' %}

{% block body_class %}class="profile-page"{% endblock %}
{% block bg %}style="background-image: url('{{ asset('images/bg8.jpg')}}"{% endblock %}
{% block filter_color %}filter-color="orange"{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('games') }}">{% trans %}games{% endtrans %}</a></li>
	<li class="breadcrumb-item active">{{ game.name }}</li>
{% endblock %}

{% block content_center %}
	<h1>{{ game.name }}</h1>
{% endblock %}

{% block section_container %}	
	<h2 class="title">{% trans %}medias{% endtrans %}</h2>
	{% include '_list_top.html.twig' with {'cols': [
		{'n': "Name"},
		{'n': "Date"},
		{'n': "confrontation"|trans},
		{'n': "difficulty"|trans},
		{'n': "description"|trans},
		{'n': "Type"},
		{'n': "Picture"},
		{'n': "Filename"},
		{'n': "Action"}
	]} %}
	{% for media in game.medias %}
		<tr>
			{% set file = media.file %}
	      	{% set current_file = 'uploads/' ~ (file.path ? file.path ~ '/' : '') ~ file.filename %}
	      	{% set prewiew = (file.type.id == 11) ? current_file ~ '.png' : current_file %}
	      	<td>{{ media.name }}</td>
			<td>{{ media.date|date('d/m/Y H:i') }}</td>
			<td>{{ media.confrontation ? media.confrontation : 'n/a' }}</td>
			<td>{{ media.difficulty ? media.difficulty : 'n/a' }}</td>
			<td>{{ media.description ? media.description : 'n/a' }}</td>
	      	<td>
	      		<i class="fa fa-{{ file.type.fontAwesome }}" aria-hidden="true" title="{{ file.type.slug|trans }}"></i>
      		</td>
	      	<td>
		      	<a href="{{ asset(current_file) }}" title="{{ file.filename }}" target="_blank">
		      		<img src="{{ asset(prewiew) }}" class="img-table">
	      		</a>
			</td>
			<td>{{ file.filename }}</td>
			<td><a href="{{ path('edit_media', {'id': media.id}) }}" title="{{ media.name }}">Edit</a></td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}

