{% set images, videos, tags, categories = [], [], [], [] %}
{% for media in game.medias %}
	{% set file = media.file %}
	{% set current_media = {
	(file.id): {
		name: media.name,
		slug: host ~ file.path ~ '/' ~ file.filename,
		date: media.date|date('d/m/Y'),
		confrontation: media.confrontation,
		difficulty: media.difficulty,
		description: media.description
	}} %}	
	{% if file.type.id == 10 %}
		{% set images = images|merge(current_media) %}
	{% elseif file.type.id == 11 %}
		{% set videos = videos|merge(current_media) %}
	{% endif %}
{% endfor %}
{% for user in game.users %}
	{% set tags = tags|merge([user.username]) %}
{% endfor %}
{% for type in game.types %}
	{% set categories = categories|merge([type.slug]) %}
{% endfor %}
---
title: {{ game.name }}
slug: {{ game.slug }}
cover: {{ host ~ game.slug ~ '/' ~ game.slug ~ '.png' }}
{% if images is not empty %}
images:
{% for key, image in images %}
  {{ key }}:
{% for key, value in image %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
{% if videos is not empty %}
videos:
{% for key, video in videos %}
  {{ key }}:
{% for key, value in video %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
{% if tags is not empty %}
tags:
{% for tag in tags %}
  - {{ tag }}
{% endfor %}
{% endif %}
{% if categories is not empty %}
categories:
{% for category in categories %}
  - {{ category }}
{% endfor %}
{% endif %}
---
{{ "{% include 'article-2017.html' %}" }}