{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg8.jpg')}}"{% endblock %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "games"|trans, 'links': [
		{'l': "add_media"},
		{'l': "add_game"}
	]} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}games{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': "game_intro"|trans} %}
	{% include '_list_top.html.twig' with {'cols': [
		{'n': "Name"},
		{'n': "Cover"},
		{'n': "Markdown"},
		{'n': "Action"},
	]} %}
	{% for game in games %}
  		<tr>
			<td><a href="{{ path('game', {'id': game.id}) }}" title="{{ game.name }}">{{ game.name }}</a></td>
			<td>
				{% set cover = 'uploads/' ~ game.slug ~ '/' ~ game.slug ~ '.png' %}
				<a href="{{ asset(cover) }}" target="_blank">
		      		<img src="{{ asset(cover) }}" class="img-table">
	      		</a>
			</td>
			<td><a href="{{ path('game_md', {'id': game.id}) }}" title="{{ game.name }}" target="_blank">Get File</a></td>
			<td><a href="{{ path('edit_game', {'id': game.id}) }}" title="{{ game.name }}">Edit</a></td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}
