{% extends 'base.html.twig' %}

{% set action = media is defined ? "edit"|trans ~ ' ' ~ "media"|trans ~ ' ' ~ media.id : "add_media"|trans %}

{% block bg %}style="background-image: url('{{ asset('images/bg8.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ action }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('games') }}">{% trans %}games{% endtrans %}</a>
	<span class="breadcrumb-item active">{{ action }}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

