{% extends 'base.html.twig' %}

{% block content_center %}
    <h1 class="title">{% trans %}edit{% endtrans %} {% trans %}activity{% endtrans %} {{ activity.id }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('activities') }}">{% trans %}activities{% endtrans %}</a>
	<span class="breadcrumb-item active">{% trans %}edit{% endtrans %} {% trans %}activity{% endtrans %} {{ activity.id }}</span>
{% endblock %}

{% block section_container %}
    {{ form(form) }}
{% endblock %}
