{% extends 'base.html.twig' %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "activities"|trans, 'links': [{'l': "add_user_score"}]} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}activities{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': "activity_intro"|trans} %}
	{% include '_list_top.html.twig' with {'cols': [
		{'n': "Name"},
		{'n': "Start"},
		{'n': "End", 'class': 'hidden-xs-down'},
		{'n': "Place", 'class': 'hidden-xs-down'},
		{'n': "Description", 'class': 'hidden-xs-down'},
		{'n': "Action"}]} %}
	{% for activity in activities %}
  		<tr>
			<td>
				{% if activity.type %}
					<i class="fa fa-{{ activity.type.fontAwesome }}" aria-hidden="true"></i>
				{% endif %}
				<a href="{{ path('activity', {'id': activity.id}) }}" title="{{ activity.name }}">{{ activity.name }}</a>
			</td>
			<td>{{ activity.start|date('l d/m/Y H:i') }}</td>
			<td class="hidden-xs-down">{{ activity.end|date('l d/m/Y H:i') }}</td>
			<td class="hidden-xs-down">{{ activity.place ? activity.place.name : 'n/a' }}</td>
			<td class="hidden-xs-down">{{ activity.description ?: 'n/a' }}</td>
			<td>
				<a href="{{ path('edit_activity', {'id': activity.id}) }}" title="Edit {{ activity.name }}">{% trans %}edit{% endtrans %}</a>
			</td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}

