{% extends 'base.html.twig' %}

{% block body_class %}class="profile-page"{% endblock %}

{% block filter_color %}filter-color="orange"{% endblock %}

{% block content_center %}
	{% if activity.type %}
    	<i class="fa fa-{{ activity.type.fontAwesome }} fa-5x" aria-hidden="true"></i>
	{% endif %}
    <h1 class="title">{{ activity.name }}</h1>
    <p class="category">{{ activity.start|date('l d/m/Y H:i') }} - {{ activity.end|date('l d/m/Y H:i') }}</p>
    {% set score = activity.score
		and activity.score.homeAwayDifference ? activity.score.homeAwayDifference : 'n/a' %}
	{% set players = activity.score
		and activity.score.homePlayers
		and activity.score.awayPlayers ? activity.score.homePlayers ~ '-' ~ activity.score.awayPlayers : 'n/a' %}
    {% if activity.score %}
        <div class="content">
            <div class="social-description">
                <h2>{{ score }}</h2>
                <p>Score</p>
            </div>
            <div class="social-description">
                <h2>{{ players }}</h2>
                <p>Players</p>
            </div>
        </div>
        {% for stat in activity.score.scoreUsers %}
        	<div class="content">
	            <div class="social-description">
	                <h2>{{ 'x' ~ stat.points }}</h2>
	                <p>{{ stat.user.name }}</p>
	            </div>
        	</div>
        {% endfor %}
    {% endif %}
    <a href="{{ path('edit_activity', {'id': activity.id}) }}" class="btn btn-primary">{% trans %}edit{% endtrans %}</a>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('activities') }}">{% trans %}activities{% endtrans %}</a></li>
	<li class="breadcrumb-item active">{{ activity.name }}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': activity.description ?: 'n/a'} %}
    <h2 class="title">{% trans %}data_fa{% endtrans %}</h2>
    <ul class="list-group">
	  	<li class="list-group-item">Type: {{ activity.type ? activity.type.slug|trans : 'n/a' }}</li>
	  	<li class="list-group-item">Place: {{ activity.place ? activity.place.name : 'n/a' }}</li>
	  	<li class="list-group-item">Location: {{ activity.place ? activity.place.location.slug|trans : 'n/a' }}</li>
	  	<li class="list-group-item">Country: {{ activity.place ? activity.place.location.country.slug|trans : 'n/a' }}</li>
	</ul>
	{% if activity.score %}
		<h2 class="title">{% trans %}score{% endtrans %}</h2>
		<ul class="list-group">
		  	<li class="list-group-item">H/A difference: {{ activity.score.homeAwayDifference }}</li>
		  	<li class="list-group-item">H/A points: {{ activity.score.homePoints }}-{{ activity.score.awayPoints }}</li>
		  	<li class="list-group-item">H/A players: {{ activity.score.homePlayers }}v{{ activity.score.awayPlayers }}</li>
		</ul>
		<h2 class="title">{% trans %}users_score{% endtrans %}</h2>
		{% for scoreUser in activity.score.scoreUsers %}
			<h4 class="title">{{ scoreUser.user.name }}</h4>
			<ul class="list-group">
			  	<li class="list-group-item">is Home: {{ scoreUser.isHome }}</li>
			  	<li class="list-group-item">Pts: {{ scoreUser.points }}</li>
			</ul>
		{% endfor %}
	{% endif %}
{% endblock %}

