{% extends 'base.html.twig' %}

{% block content_center %}
    <h1 class="title">{% trans %}add_user_score{% endtrans %}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('activities') }}">{% trans %}activities{% endtrans %}</a>
	<span class="breadcrumb-item active">{% trans %}add_user_score{% endtrans %}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

