<br>
<div class="row table-responsive">
	<table class="table table-sm table-striped">
	  	<thead class="bg-neutral">
	    	<tr>
	    		{% for col in cols %}
	    			<th{{ col.class is defined ? ' class=' ~ col.class : '' }}>{{ col.n }}</th>
	    		{% endfor %}
	    	</tr>
	  	</thead>
	  	<tbody>