<h1 class="title">{{ t }}</h1>
{% if links is defined %}
	<div class="text-center">
		{% for link in links %}
	        <a href="{{ path(link.l) }}" title="{{ link.l|trans }}" class="btn btn-primary">{{ link.l|trans }}</a>
	    {% endfor %}
	</div>
{% endif %}