<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% trans %}datacenter{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/datacenter.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body {% block body_class %}{% endblock %}>
        <nav class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent " {% block scroll %}color-on-scroll="300"{% endblock %}>
            <div class="container">
                <div class="dropdown button-dropdown">
                    <a href="#" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <span class="button-bar"></span>
                        <span class="button-bar"></span>
                        <span class="button-bar"></span>
                    </a>
                </div>
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}" rel="tooltip" data-placement="bottom">{% trans %}datacenter{% endtrans %}</a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{{ asset('images/blurred-image-1.jpg') }}">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('timeline') }}">{% trans %}timeline{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('activities') }}">{% trans %}activities{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('datas') }}">{% trans %}datas{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('files') }}">{% trans %}files{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('games') }}">{% trans %}games{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('projects') }}">{% trans %}projects{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users') }}">{% trans %}users{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="nav-link" href="{{ path('logout') }}" title="Logout {{ app.user.username }}"><i class="fa fa-user" aria-hidden="true"></i>{{ app.user.username }}</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('login') }}" title="Login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div><!-- container -->
        </nav>
        {% block content %}
            <div class="wrapper">
                <div class="page-header page-header-small" {% block filter_color %}{% endblock %}>
                    <div class="page-header-image" data-parallax="true" {% block bg %}style="background-image: url('{{ asset('images/bg5.jpg')}}"{% endblock %}>
                    </div>
                    <div class="container">
                        <div class="content-center">
                            {% block content_center %}{% endblock %}
                        </div>
                    </div>
                </div>
                {% block breadcrumb %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{% trans %}home{% endtrans %}</a></li>
                        {% block breadcrumb_items %}{% endblock %}
                    </ol>
                {% endblock %}
            </div><!-- wrapper -->
            <div class="section">
                <div class="container">
                    {% block section_container %}{% endblock %}
                </div><!-- container -->
            </div></div><!-- container -->
        {% endblock %}
        {% block footer %}
        <footer class="footer footer-default">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('homepage') }}">Homepage</a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy; {{ "now"|date("Y") }}, Datacenter
                </div>
            </div>
        </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/datacenter.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
