{% extends 'base.html.twig' %}

{% block scroll %}{% endblock %}
{% block body_class %}class="index-page"{% endblock %}
{% block content %}
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('images/header.jpg') }}');">
    </div>
    <div class="container">
        <div class="content-center brand">
            <img class="n-logo datacenter-logo" src="{{ asset('images/datacenter.png') }}" alt="">
            <h1 class="h1-seo">{% trans %}datacenter{% endtrans %}.</h1>
            <h3>{% trans %}intro{% endtrans %}</h3>
        </div>
        <h6 class="category category-absolute">
          Designed by <a href="http://invisionapp.com/" target="_blank">invision</a>.
          Coded by <a href="https://www.creative-tim.com" target="_blank">creative tim</a>.
          Developed by <a href="http://www.anthony-dessalles.com" target="_blank">anthony dessalles</a>.
        </h6>
    </div>
  </div>   
{% endblock %}
{% block footer %}{% endblock %}

