{% extends 'base.html.twig' %}

{% block body_class %}class="profile-page"{% endblock %}
{% block bg %}style="background-image: url('{{ asset('images/bg1.jpg')}}"{% endblock %}
{% block filter_color %}filter-color="orange"{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('projects') }}">{% trans %}projects{% endtrans %}</a></li>
	<li class="breadcrumb-item active">{{ project.name }}</li>
{% endblock %}

{% block content_center %}
	<h1>{{ project.name }}</h1>
	<a href="{{ path('edit_project', {'id': project.id}) }}" class="btn btn-primary">{% trans %}edit{% endtrans %}</a>
{% endblock %}

{% block section_container %}
	<h2 class="title">{% trans %}project{% endtrans %}</h2>
	<ul class="list-group block">
	  <li class="list-group-item"><h3>{{ project.name }}</h3></li>
	  <li class="list-group-item">{% trans %}number{% endtrans %}{% trans %}colon{% endtrans %}{{ project.number }}</li>
	  <li class="list-group-item">
	  	<a href="{{ project.repository }}" target="_blank">{{ project.repository }}</a>
	  </li>
	</ul>
{% endblock %}

