{% extends 'base.html.twig' %}

{% set action = project is defined ? "edit"|trans ~ ' ' ~ "project"|trans ~ ' ' ~ project.id : "add_project"|trans %}

{% block bg %}style="background-image: url('{{ asset('images/bg1.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ action }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('projects') }}">{% trans %}projects{% endtrans %}</a>
	<span class="breadcrumb-item active">{{ action }}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

