{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg1.jpg')}}"{% endblock %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "projects"|trans, 'links': [{'l': "add_project"}]} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}projects{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': "project_intro"|trans} %}
	{% include '_list_top.html.twig' with {'cols': [{'n': "Number"}, {'n': "Name"}, {'n': "Repository"}, {'n': "Action"}]} %}
	{% for project in projects %}
  		<tr>
	      <td>{{ project.id }}</td>
	      <td><a href="{{ path('project', {'id': project.id}) }}" title="{{ project.name }}">{{ project.name }}</td>
	      <td><a href="{{ project.repository }}" target="_blank">{{ project.repository }}</td>
	      <td><a href="{{ path('edit_project', {'id': project.id}) }}" title="{% trans %}edit{% endtrans %} {{ project.name }}">{% trans %}edit{% endtrans %}</a></td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}

