{% extends 'base.html.twig' %}

{% block body_class %}class="profile-page"{% endblock %}
{% block bg %}style="background-image: url('{{ asset('images/bg11.jpg')}}"{% endblock %}
{% block filter_color %}filter-color="orange"{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('users') }}">{% trans %}users{% endtrans %}</a></li>
	<li class="breadcrumb-item active">{{ user.username }}</li>
{% endblock %}

{% block content_center %}
	<h1>{{ user.username }}</h1>
{% endblock %}

{% block section_container %}
	<h2 class="title">{% trans %}data_fa{% endtrans %}</h2>
	<ul class="list-group">
	  	<li class="list-group-item">Name: {{ user.name }}</li>
	  	<li class="list-group-item">Surname: {{ user.surname }}</li>
	  	<li class="list-group-item">Role: {{ user.role }}</li>
	</ul>
	<h2 class="title">{% trans %}users_score{% endtrans %}</h2>
	{% include '_list_top.html.twig' with {'cols': [
		{'n': "Name"},
		{'n': "H/A difference"},
		{'n': "is Home"},
		{'n': "Pts"}
	]} %}
	{% set total_difference = 0 %}
	{% set total_goals = 0 %}
	{% set total_games = 0 %}
	{% for userScore in user.userScores %}
		{% set total_difference = total_difference + userScore.score.homeAwayDifference %}
		{% set total_goals = total_goals + userScore.points %}
		{% set total_games = total_games + 1 %}
		<tr>
			<td>{{ userScore.score.activity.name }} {{ userScore.score.activity.start|date('d/m/Y H:i') }}</td>
			<td>{{ userScore.score.homeAwayDifference }}</td>
			<td>{{ userScore.isHome }}</td>
			<td>{{ userScore.points }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td><b>Total</b></td>
		<td>{{ total_difference }}</td>
		<td>{{ total_games }}</td>
		<td>{{ total_goals }}</td>
	</tr>
	{% include '_list_bottom.html.twig' %}
{% endblock %}

