{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/bg11.jpg')}}"{% endblock %}

{% block content_center %}
	{% include '_main_title.html.twig' with {'t': "users"|trans, 'links': [{'l': "add_user"}]} %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active">{% trans %}users{% endtrans %}</li>
{% endblock %}

{% block section_container %}
	{% include '_description.html.twig' with {'t': "description"|trans, 'd': "user_intro"|trans} %}
	{% include '_list_top.html.twig' with {'cols': [{'n': "Username"}, {'n': "Name"}, {'n': "Surname"}, {'n': "Role"}]} %}
	{% for user in users %}
  		<tr>
			<td><a href="{{ path('user', {'id': user.id}) }}" title="{{ user.username }}">{{ user.username }}</a></td>
			<td>{{ user.name }}</td>
			<td>{{ user.surname }}</td>
			<td>{{ user.role }}</td>
		</tr>
	{% endfor %}
	{% include '_list_bottom.html.twig' %}
{% endblock %}

